doctype html
html(lang='en')
  include common/head.pug
  +head("Home")
  body
    h1= title
    p Welcome to #{title}
    form(action="/", method="POST")
     input(name="lead_email", type="email", placeholder= "Enter your email address")
     button(type="Submit") Submit
    p
     a(href="/leads") Show Leads
    
  include common/footer.pug
  +footer()


