doctype html
html(lang='en')
	include common/head.pug
	+head("Lead Detail")
	body
		h1 Lead
		p
			span #{lead.email}
			|
			a(href= "/lead/" + lead.id + "/edit") Edit
			|
			form(action="/lead/" + lead.id + "/delete", method="POST")
				button(type="submit") Delete
		p
			a(href= "/leads") Show all leads
		p
			a(href= "/") Home
		include common/footer.pug
		+footer()
